.view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.post {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 500px;
  margin-bottom: 20px;
  padding: 20px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.username {
  font-weight: bold;
  margin: 0;
}

.posted-time {
  color: #777;
  margin: 0;
}

.post-content {
  margin-bottom: 10px;
}

.post-title {
  margin-bottom: 10px;
  font-size: 20px;
}

.content-text {
  margin-bottom: 10px;
}

.update-btn {
  float: right;
  border-radius: 8px;
  margin-right: 10px;
}

.view-input {
  width: 450px;
  margin-top: 10px;
}

.another-btn {
  float: right;
  border-radius: 8px;
  margin-right: 10px;
  background-color: #f00;
}

.another-btn:hover {
  background-color: #c00;
}